<?php
use \Phalcon\Tag;
use \Phalcon\Mvc\Url;
?>

<h3>h3</h3>
<pre>
<?php print_r($this->flashSession->error('brak danych')); ?>
	<?php print_r($this->flashSession->output()); ?>

<div id="messages"></div>

{{ form( null, 'method': 'post') }}
	Login: {{ loginForm.render('nick') }}
	Haslo: {{ loginForm.render('pass') }}
	
	{{ loginForm.render('save') }}
{{ endForm() }}