<?php
use \Phalcon\Tag;
use \Phalcon\Mvc\Url;
?>

<h1>Logowanie</h1>

{{ form( null, 'method': 'post') }}
	Login: {{ loginForm.render('nick') }}
	Haslo: {{ loginForm.render('pass') }}
	
	{#{{ loginForm.render('save') }}#}
	{{ submit_button('Login') }}
{{ endForm() }}