<!DOCTYPE HTML>
<html lang="pl">
	<head>
		<meta charset="utf-8" />

		{{ stylesheet_link('css/reset.css') }}

		{{ stylesheet_link('css/top.css') }}

		<title>{{ get_title() }}</title>
	</head>
	<body>
		<section id="top">
			<a class="logo" href="">Shadow Site</a>

			<nav id="topMenu">
				<ul>
					<li><a href="#"> </a></li>
					<li><a href="#"> </a></li>
					<li><a href="#"> </a></li>
				</ul>
			</nav>
		</section>

		{{ content() }}

		{# jQuery #}
		{{ javascript_include("//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js") }}
		{{ javascript_include("//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js") }}

		{# fonts #}
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,300italic,300,600italic,700,700italic,800,800italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</body>
</html>