<!DOCTYPE HTML>
<html lang="pl">
	<head>
		<meta charset="utf-8" />

		{{ stylesheet_link("css/reset.css") }}

		{{ stylesheet_link("css/top.css") }}

		<title>{{ get_title() }}</title>
	</head>
	<body>
		<section id="top">
			<a class="logo" href="">
				<img src="admin/img/logo.png" alt="Logo Cms Shadow Site">
			</a>

			<nav id="topMenu">
				<ul>
					<li><a href="#"> </a></li>
					<li><a href="#"> </a></li>
					<li><a href="#"> </a></li>
				</ul>
			</nav>
		</section>

		{{ content() }}

		{{ javascript_include("//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js") }}
		{{ javascript_include("//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js") }}
	</body>
</html>